<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Thank You!</title>
  </head>
  <body>
    <div class="container">
      <img src="../static/logo.png" alt="" class="logo" />
      <h1>Спасибо!</h1>
      <h2>Благодарим за Ваш отзыв. Будем рады увидеть Вас снова!</h2>
      <a href="/">
          <form action="/">
               <input class="btn" type="button" value="Вернуться на главную страницу" />
          </form>
      </a>
    </div>
  </body>
</html>